html {
    margin: 0;
}

body {
    background-color: darkslategray;
}

.container {
    margin: auto;
    width: 95vw;
    height: 95vh;
    display:flex;
    flex-direction: column;
    row-gap: 5%;
    border: red solid 1px;
}

.picture-container {
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    height: 85%;
}

.picture-container > img {
    display: none;
    object-fit: contain;
    width: 80vw;
    max-height: 100%;
    margin: auto;
}

.container label {
    transition: 0.2s ease-in;
}

.bottom-container {
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.radio {
    display: none;
}

.text-container>p {
    position: relative;
    display: none;
    font-size: 4vh;
    opacity: 0;
    margin: 0;
    color: cornsilk;
}

.text-container {
    width: 70%;
}

.radio-container {
    width: 30%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

#radio1:hover~.bottom-container>.radio-container>.radio-label:nth-child(1)>.inner-radio,
#radio2:hover~.bottom-container>.radio-container>.radio-label:nth-child(2)>.inner-radio,
#radio3:hover~.bottom-container>.radio-container>.radio-label:nth-child(3)>.inner-radio,
#radio4:hover~.bottom-container>.radio-container>.radio-label:nth-child(4)>.inner-radio {
    background-color: lawngreen;
}

#radio1:checked~.bottom-container>.radio-container>.radio-label:nth-child(1)>.inner-radio,
#radio2:checked~.bottom-container>.radio-container>.radio-label:nth-child(2)>.inner-radio,
#radio3:checked~.bottom-container>.radio-container>.radio-label:nth-child(3)>.inner-radio,
#radio4:checked~.bottom-container>.radio-container>.radio-label:nth-child(4)>.inner-radio {
    background-color: seagreen;
}

#radio1:active~.bottom-container>.radio-container>.radio-label:nth-child(1)>.inner-radio,
#radio2:active~.bottom-container>.radio-container>.radio-label:nth-child(2)>.inner-radio,
#radio3:active~.bottom-container>.radio-container>.radio-label:nth-child(3)>.inner-radio,
#radio4:active~.bottom-container>.radio-container>.radio-label:nth-child(4)>.inner-radio {
    background-color: gold;
}

.radio-label {
    display: inline-block;
    width: 3vw;
    height: 3vw;
    margin: 0.5vw;
    cursor: pointer;
}
.inner-radio {
    margin: 15% 15%;
    display: inline-block;
    border-radius: 50%;
    height: 70%;
    width: 70%;
    background-color: aqua;
    box-shadow: 0vw 0vw 1vw #000000;
    transition: 0.2s ease-in-out;
}

#radio1:checked~.picture-container>.image1,
#radio2:checked~.picture-container>.image2,
#radio3:checked~.picture-container>.image3,
#radio4:checked~.picture-container>.image4
  {
    display: block;
    animation: slide-picture 0.9s ease forwards;
}


#radio1:checked ~ .bottom-container>.text-container>p:nth-child(1),
#radio2:checked ~ .bottom-container>.text-container>p:nth-child(2),
#radio3:checked ~ .bottom-container>.text-container>p:nth-child(3),
#radio4:checked ~ .bottom-container>.text-container>p:nth-child(4)  {
    display: block;
    left: 0;
    animation: slide-text 0.9s ease 0.5s forwards;
}

@keyframes slide-text {
    from {
            left: 50px;
            opacity: 0;
    }
    to {
            left: 0px;
            opacity: 1;
    }
}

@keyframes slide-picture {
    from {     
            transform: rotate(45deg) scale(0.8);
            opacity: 0.1;
    }
    to {   
        transform: rotate(0deg) ;
        opacity: 1;
    }
}

@media (max-width: 768px) { 

    .container {
        width: 95vw;
        height: 95vw;
    }

    .text-container>p {
        font-size: 6vh;
    }

    .text-container {
        width: 100%;
    }

    .radio-container {
        width: 100%;
        justify-content: center;
    }

    .radio-label {
        width: 7vw;
        height: 7vw;
        margin: 0.5vw;
    }

    .bottom-container {
        height: 40%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: start;
        row-gap: 10%;
    }


}



